<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4646cb73ebb5a9402f3788711391e4ca {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_4646cb73ebb5a9402f3788711391e4ca" ></div>
        
</body>
<script>
    
    
            var map_4646cb73ebb5a9402f3788711391e4ca = L.map(
                "map_4646cb73ebb5a9402f3788711391e4ca",
                {
                    center: [26.8467, 80.9462],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_badd626afa8982d31233528c2d823aa7 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_badd626afa8982d31233528c2d823aa7.addTo(map_4646cb73ebb5a9402f3788711391e4ca);
        
    
            var marker_5b4c286539fd45ca767ce0d17f2b03ad = L.marker(
                [29.3919, 79.4542],
                {
}
            ).addTo(map_4646cb73ebb5a9402f3788711391e4ca);
        
    
            var icon_4fef749aeca3f419b06ee9b5fc4e6a20 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "exclamation-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_42dcd0ad9298ccd400d9bf3c00ece029 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e8cc9c24c6e63c24a43b1c5f498d662 = $(`<div id="html_7e8cc9c24c6e63c24a43b1c5f498d662" style="width: 100.0%; height: 100.0%;"><b>Nainital</b></div>`)[0];
                popup_42dcd0ad9298ccd400d9bf3c00ece029.setContent(html_7e8cc9c24c6e63c24a43b1c5f498d662);
            
        

        marker_5b4c286539fd45ca767ce0d17f2b03ad.bindPopup(popup_42dcd0ad9298ccd400d9bf3c00ece029)
        ;

        
    
    
                marker_5b4c286539fd45ca767ce0d17f2b03ad.setIcon(icon_4fef749aeca3f419b06ee9b5fc4e6a20);
            
</script>
</html>